@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

body {
    background-color:whitesmoke;
    margin:1em;
    max-width:90vw;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 4vw;
}

.description {
    font-size: 2vw;
    font-family: 'Work Sans Light', sans-serif;
}

.generated-text {
    font-family: 'Lora', serif;
    font-size: 2.5vw;
}

@media only screen and (max-width: 480px) {
    body {
        background-color:whitesmoke;
        margin:1em;
        max-width:90vw;
    }
    
    h1 {
        font-family: 'Work Sans', sans-serif;
        font-size: 7vw;
    }
    
    .description {
        font-size: 4vw;
        font-family: 'Work Sans Light', sans-serif;
    }
    
    .generated-text {
        font-family: 'Lora', serif;
        font-size: 6vw;
    }
    
}